*{
    margin: 0;
    padding: 0;
}
.faixa1{
    background-color: #0A250D;
    display: flex;
    height: 8.8vh;
    align-items: center;  
}
#logo{
    height: 35vh;
    padding: 0%;
    margin-left: -0.7%;
}
.pesquisa{
    display: flex;
    background-color: white;
    height: 61.83%;
    align-items: center;
    border-radius: 12px;
    width: 20%;
    padding-left: 2.27%;
    margin-left: 37%;
    
}
.pesquisa img {
    height: 70%;
    margin-left: 26%;
}
input{
    border: none;
    outline: none;
}
.entrar{
    display: flex;
    height: 75%;
    align-items: center;
    margin-left: 9%;
}
p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}
.sacola{
    display: flex;
    height: 75%;
    align-items: center;
    margin-left: 2%;
}
img{
    height: 60%;
}

.faixa2{
    background-color: #7C9E82;
    height: 7.2vh;
}
.opcoes{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 75%;
    justify-content: space-between;
    width: 21.4%;
}
.opcoes p {
    font-size: 16px;
}
main{
    display: flex;
}
#prato{
    margin-left: 4%;
    height: 84vh;
}
.texto{
    width: 100%;
    margin-left: 8%;
}
.texto p{
    color: black;
}
.letrinha{
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 2%;
}
.letrao{
    font-family: 'League Gothic', sans-serif;
    font-size: 140px;
    line-height: 140px;
}